body {
	background: white;
}

.poem {
	background: silver;
	margin: 5px;
	width: 40em;
}

.poemWord {
	margin: 2px;
	background: white;
	padding: 2px;
	word-wrap: break-word;
	display: inline-block;
	box-shadow: 1.5px 1.5px grey;
}

#inputText {
	width: 80em;
	height: 30em;
	resize: none;
	background: white;
}
